Building_Identification_Project/data/*
Building_Identification_Project/elu_drop/*
Building_Identification_Project/Foy Hall/*
Building_Identification_Project/HargisHALL_JPG/*
Building_Identification_Project/logs1/*
Building_Identification_Project/logs2/*
Building_Identification_Project/SamfordHALL_jpg/*
Building_Identification_Project/Shelby Center/*